---

pe:
  version: '2.0.2'
  installer_path: '/vagrant/files/puppet-enterprise-%s-all/puppet-enterprise-installer'
  fetch_location: "not applicable"

profiles:
  debian:
    boxname: 'debian-6.0.3-i386'
    box_url: 'http://path.to.server/insta-pe/debian-6.0.3-i386.box'
  centos:
    boxname: 'centos-5.7-i386'
    box_url: 'http://path.to.server/insta-pe/centos-5.7-i386.box'
  ubuntu:
    boxname: 'ubuntu-10.04.2-server-i386'
    box_url: 'http://path.to.server/insta-pe/ubuntu-10.04.2-server-i386.box'

nodes:
  -
    name: pe-master
    role: master
    address: 10.10.1.2
    profile: ubuntu
  -
    name: agent1
    role: agent
    address: 10.10.1.3
    profile: centos
  -
    name: agent2
    role: agent
    address: 10.10.1.4
    profile: ubuntu

